*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin-left: 200px;
    margin-right: 200px;
}

header{
    height: 160px;
    width: 100%;
    background-color: #171717;
    display: flex;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 30px;
}

.foto-1{
    width: 100%;
}